<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.customer.dao.UserDao" >
    <sql id="BASE_TABLE">
    user
  </sql>

    <sql id="BASE_COLUMN">
   ID,NAME,EMAIL,MAILHOST,PSW,MAILPSW
  </sql>

    <insert id="insert" parameterType="com.customer.model.UserBean">
        INSERT INTO
        <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            name,email,psw,
            <if test="mailHost != null">
                mailHost,
            </if>
            <if test="mailPsw != null">
                mailPsw,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{name, jdbcType=VARCHAR},
            #{email, jdbcType=VARCHAR},
            #{psw, jdbcType=VARCHAR},
            <if test="mailHost != null">
                #{mailHost , jdbcType=VARCHAR},
            </if>
            <if test="mailPsw != null">
                #{mailPsw , jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="selectUsers" resultType="com.customer.model.UserBean">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
    </select>
    <select id="selectUser"  resultType="com.customer.model.UserBean">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>

        where name = #{name}
    </select>

</mapper>